/chapter11/c11-p3/target/
/chapter11/c11-p2/target/
/chapter11/c11-p1/target/
/target/
/chapter8/target/
/chapter7/c7-p2/target/
/chapter3/target/
/chapter1/target/
/chapter5/c5-p1/target/
/chapter5/c5-p2/target/
/chapter6/c6-p1/target/
/chapter6/c6-p2/target/
/chapter9/target/
/chapter10/target/
/chapter12/target/
/chapter12/c12-p1 - copia/target/
/chapter12/c12-p2/target/
/chapter12/c12-p1/target/
/chapter13/target/
/chapter13/c13-p2/target/
/chapter12/c12-p3/target/
/chapter13/c13-p1/target/
/chapter14/target/
/chapter15/target/
/chapter16/target/
/chapter18/target/
/chapter19/target/
/chapter18/c18-p1/target/
/chapter18/c18-p2/target/
/chapter2/target/
/chapter17/target/
/chapter7/c7-p1/target/
/chapter4/target/
/chapter20/target/
/chapter19/c19-p1/target/
/chapter19/c19-p2/target/
/chapter19/c19-p3/target/

.idea/
*.iml

.DS_Store
/chapter20/c20-p1/target/
/chapter20/c20-p2/target/
/chapter01/target/
/chapter02/target/
/chapter04/target/
/chapter05/c5-p1/target/
/chapter05/c5-p2/target/
/chapter06/c6-p1/target/
/chapter06/c6-p2/target/
/chapter07/c7-p1/target/
/chapter07/c7-p2/target/
/chapter08/target/
/chapter09/target/
/chapter05/c05-p1/target/
/chapter05/c05-p2/target/
/chapter06/c06-p2/target/
/chapter07/c07-p1/target/
/chapter07/c07-p2/target/
/chapter21/c21-p1/target/
/chapter06/c06-p1/target/
/chapter21/c21-p3/target/
/chapter21/c21-p2/target/
/chapter22/target/
/chapter23/c23-p1/target/
/chapter23/c23-p2/target/
/c23-p2/target/
/chapter99/target/
/chapter24/target/
/chapter25/target/
/chapter26/target/
/chapter25/c25-p2/target/
/chapter25/c25-p1/target/
/chapter27/target/
/chapter28/target/
/chapter27/c27-p2/target/
/chapter27/c27-p1/target/
/chapter29/target/